/*Green 300 #36B37E
Green 200 #B1EC98
dark blueBackGround Color:  #1d2025;
900 Blue Grey NavBar color: #102A43
Accent/borders Green colors: #36B37E

*/

.RowProfilePicture {
  max-width: 15rem;
  max-height: 10rem;
  border-radius: 5px;

  /* position: relative;
  bottom: 25px; */
}

.TutorShortDetails {
  /* padding-top: 10px; */
  text-align: left;
  list-style: none;
  right: 130px;
  display: flex;
  justify-content: space-evenly;
}
.tutor-row {
  /* padding: 5px 0; */
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 50vw;
  height: 20vh;
  background-color: #0c172d;
  /* border: 50px rgba(96, 96, 96, 0.613); */
  border-color: #8193b2;
  border-radius: 2px;
  color: #7788a7;
  /* padding-top: 50px; */
  line-height: 0.3vh;
}
.NameTutor {
  font-size: 40px;
  font-weight: 900;
}
.SearchCardActions {
  display: flex;
  justify-content: center;
}

.tutor-row-container {
  display: flex;
  justify-content: center;
}
/* .tutor-row {
} */
