/*Green 300 #36B37E
Green 200 #B1EC98
dark blueBackGround Color:  #1d2025;
900 Blue Grey NavBar color: #102A43
Accent/borders Green colors: #36B37E

*/

.RowProfilePicture {
  width: 100px;
  border-radius: 5px;
  position: relative;
  bottom: 20px;
}

.TutorShortDetails {
  /* padding-top: 10px; */
  text-align: left;
  list-style: none;
  position: relative;
  right: 130px;
}
.tutor-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 49vw;
  height: 15vh;
  background-color: rgba(96, 96, 96, 0.497);
  border: 10px rgba(96, 96, 96, 0.613);
  border-radius: 5px;
  color: white;
  padding-top: 50px;
}
.NameTutor {
  font-size: 40px;
}
.SearchCardActions {
  display: flex;
  justify-content: space-between;
}
/* .tutor-row {
} */
