/*
Green 300: #36B37E
=======================
Black Background: #1D1F25
=======================
Blue Grey
50 = #F0F4F8 <== lightest
100 = #D9E2EC
200 = #BCCCDC
300 = #9FB3C8
400 = #829AB1
500 = #627D98 <== main
600 = #486581
700 = #334E68
800 = #243B53
900 = #102A43 <== darkest
*/


.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  /* background-color: #1D1F25; */
  background-image: linear-gradient(to right, #1D1F25, #102A43,#1D1F25);
  min-height: 100vh;
  width: 100%;
}