/*Green 300 #36B37E
Green 200 #B1EC98
dark blueBackGround Color:  #1d2025;
900 Blue Grey NavBar color: #102A43
Accent/borders Green colors: #36B37E

*/
/*
Green 300: #36B37E
Green 200: #B1EC98
=======================
=======================
Blue Grey
50 = #F0F4F8 <== lightest
100 = #D9E2EC
200 = #BCCCDC
300 = #9FB3C8
400 = #829AB1
500 = #627D98 <== main
600 = #486581
700 = #334E68
800 = #243B53
900 = #102A43 <== darkest
*/

.work {
  color: white;
  width: 900px;
  background-color: red;
}
.tutorListPic {
  width: 21%;
  height: 60%;
  padding: 20px;
  border-radius: 15%;
}
.tutorList {
  /* background-color: #1d2025; */
}

.tutorlistInfo {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  /* background-color: #243b53; */
  /* border-radius: 2%; */
  color: white;
  /* border: solid #36b37e; */
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #36b37e, rgba(0, 0, 0, 0)) 1 100%;
  line-height: 0.05vh;
}
.tutorListContainer {
  display: flex;
  justify-content: center;

  margin: 60px;
}
.tutorDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
}
