/*Green 300 #36B37E
Green 200 #B1EC98
dark blueBackGround Color:  #1d2025;
900 Blue Grey NavBar color: #102A43
Accent/borders Green colors: #36B37E

*/

.work {
  color: white;
  width: 900px;
  background-color: red;
}
.tutorListPic {
  width: 20%;
  height: 40%;
}
.tutorList {
  background-color: #1d2025;
}
