.TutorPage {
}

.TutorProfilePicture {
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;
    width:15rem;
    align-self: left;
}

.TutorInfo {
    margin-left: 20rem;
    margin-bottom: 6rem;
    text-align: left;
    margin-top: -17rem;
}