/*
Green 300: #36B37E
=======================
Black Background: #1D1F25
=======================
Blue Grey
50 = #F0F4F8 <== lightest
100 = #D9E2EC
200 = #BCCCDC
300 = #9FB3C8
400 = #829AB1
500 = #627D98 <== main
600 = #486581
700 = #334E68
800 = #243B53
900 = #102A43 <== darkest
*/

#logo {
  width: 5rem;
}

#mainNavComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #102a43;
  background-image: linear-gradient(to left, #102a43, #243b53, #36b37e);
  animation: animate 20s linear;
  animation-iteration-count: infinite;
  height: 5rem;
}

#mainNavComponent ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-family: 'levoto', sans-serif;
  height: 100%;
  width: 35%;
  margin: 0;
  list-style-type: none;
}

#mainNavComponent li {
  margin: 0 1rem;
  font-size: 18px;
  justify-content: flex-end;
}

.navbarSignupBorder {
  background-color: #102a43;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border-color: #627d98;
  border-style: solid;
  border-width: 0.01rem;
}

#mainNavComponent a,
#logoutBtn {
  color: white;
}

#mainNavComponent a:hover,
#logoutBtn:hover {
  color: #36b37e;
}

#logoutBtn {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #mainNavComponent .responsive {
    position: relative;
  }

  #mainNavComponent .responsive .logo {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 2px 30px 0 green;
  }

  5% {
    box-shadow: 0 2px 30px 0 red;
  }

  10% {
    box-shadow: 0 2px 30px 0 Aquamarine;
  }

  15% {
    box-shadow: 0 2px 30px 0 seashell;
  }

  20% {
    box-shadow: 0 2px 30px 0 maroon;
  }

  25% {
    box-shadow: 0 2px 30px 0 green;
  }

  30% {
    box-shadow: 0 2px 30px 0 darkorange;
  }

  35% {
    box-shadow: 0 2px 30px 0 deeppink;
  }

  40% {
    box-shadow: 0 2px 30px 0 Snow;
  }

  45% {
    box-shadow: 0 2px 30px 0 IndianRed;
  }

  50% {
    box-shadow: 0 2px 30px 0 Cornsilk;
  }

  55% {
    box-shadow: 0 2px 30px 0 GreenYellow;
  }

  60% {
    box-shadow: 0 2px 30px 0 Teal;
  }

  65% {
    box-shadow: 0 2px 30px 0 NavajoWhite;
  }

  70% {
    box-shadow: 0 2px 30px 0 YellowGreen;
  }

  75% {
    box-shadow: 0 2px 30px 0 DarkTurquoise;
  }

  80% {
    box-shadow: 0 2px 30px 0 green;
  }

  85% {
    box-shadow: 0 2px 30px 0 Plum;
  }

  90% {
    box-shadow: 0 2px 30px 0 ForestGreen;
  }

  95% {
    box-shadow: 0 2px 30px 0 Purple;
  }

  100% {
    box-shadow: 0 2px 30px 0 green;
  }
}
