/*Green 300 #36B37E
Green 200 #B1EC98
dark blueBackGround Color:  #1d2025;
900 Blue Grey NavBar color: #102A43
Accent/borders Green colors: #36B37E

*/


.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #1D1F25;
  min-height: 100vh;
  width: 100%;
}