#schedulerComponent {
    max-width: 475px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 75%;
    margin: 1rem auto 1rem;
    padding: .25rem;
    border-radius: 5px;
}

#scheduler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1px;
}

#scheduler button {
    width: 7rem;
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    margin: .1rem;
}

.react-calendar__month-view__days {
    padding: .5rem;
}

.react-calendar {
    font-size: .75rem;
    border-radius: 5px;
    max-height: 300px;
}

.react-calendar button {
    font-size: .65rem;
    border-radius: 5px;
    padding: .5rem;
}

.timePicker {
    width: 306px;
    text-align: right;
}

#NoLessonsLeftBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
    padding: .5rem;
    background-color: bisque;

}

.SaveTimeButton {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin: 1rem;
    margin-top: 1rem;
    padding: .50rem;
    border-radius: .7rem;
    background-image: linear-gradient(to right, #39CCCC, #39CCCC);
    font-weight: bold;
    /* border: .5px solid #FFA500; */
    font: 1rem Helvetica, "Lucida Grande", Arial, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px #01FF70;
}

.SaveTimeButton:active {
    box-shadow: 0 0px;
    transform: translateY(4px);
    outline: none;
}

.SaveTimeButton:focus {
    outline: none;
}

.timePicker button {
    font: .75rem Helvetica, "Lucida Grande", Arial, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px #01FF70;
}

.timePicker button:active {
    box-shadow: 0 0px;
    transform: translateY(2px);
    outline: none;
}

.timePicker button:focus {
    outline: none;
}