#scheduler {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

#scheduler button {
    width: 7rem;
    border: none;
}


.react-calendar {
    font-size: .75rem;
    margin: 0 auto;
}

.react-calendar button {
    font-size: .65rem;
}

.SaveTimeButton {
    margin: 2rem auto;
}