/* Green 300: #36B37E
=======================
Black Background: #1D1F25
=======================
Blue Grey
50 = #F0F4F8 <== lightest
100 = #D9E2EC
200 = #BCCCDC
300 = #9FB3C8
400 = #829AB1
500 = #627D98 <== main
600 = #486581
700 = #334E68
800 = #243B53
900 = #102A43 <== darkest */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(transparent, #1D1F25, #1D1F25, #1D1F25, #1D1F25);
    font-size: .75rem;
    margin-top: auto;
    padding-bottom: 1rem;
    height: 10rem;
}