/*
Green 300: #36B37E
=======================
Black Background: #1D1F25
=======================
Blue Grey
50 = #F0F4F8 <== lightest
100 = #D9E2EC
200 = #BCCCDC
300 = #9FB3C8
400 = #829AB1
500 = #627D98 <== main
600 = #486581
700 = #334E68
800 = #243B53
900 = #102A43 <== darkest
*/

.searchContainer {
  display: flex;
  justify-content: center;
  width: 60rem;
  padding: 0.5rem;
  margin-bottom: 5rem;
}

.searchContainer input {
  width: 80vw;
  height: 3rem;
  border-style: solid;
  border-color: #627d98;
  border-width: 0.1rem;
  border-radius: 0.3rem;
  background-color: transparent;
  color: #b2e89a;
  box-shadow: 3px 3px 3px #36b37f3a;
}

@media only screen and (max-width: 600px) {
  .searchBar {
    /* width: 70vw; */
    position: relative;
    right: 130px;
    /* display: flex;
    justify-content: center; */
  }
  .searchBar input {
    height: 5vh;
    width: 70vw;
  }
}
