/*
Green 300: #36B37E
Green 200: #B1EC98
=======================
=======================
Blue Grey
50 = #F0F4F8 <== lightest
100 = #D9E2EC
200 = #BCCCDC
300 = #9FB3C8
400 = #829AB1
500 = #627D98 <== main
600 = #486581
700 = #334E68
800 = #243B53
900 = #102A43 <== darkest
*/

.profileContainer {
  background-color: #243B53;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  /* max-width: 80%; */
  min-height: 24.5rem;
  margin: 3rem 3rem 1.5rem 3rem;
}

@media screen and (max-width: 1000px) {
  .profileContainer {
    flex-direction: column;
    width: 90%;
  }

  #myClassesSection {
    width: 90%;
  }
}


.imageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 1rem; */
  margin: 1rem;
}

.userDetailsSection {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.userImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profilePicture {
  margin: .7rem auto auto;
  border-radius: 5px;
  max-width: 17rem;
}

.userDetails {
  display: flex;
  padding: 10rem;
  flex-direction: column;
  align-items: flex-start;
}

.bookedSessions {
  flex: 3;
}

#imageInput {
  display: none;
  margin: 10px;
}

#imageInputLabel,
#editMyDetailsButton,
#showMyBookingsButton,
#editMyProfileButton,
#deleteProfileButton,
.formControlButtons {
  display: inline-block;
  padding: 4px 32px;
  background-color: #ffffff;
  border: solid 1px #666f77;
  border-radius: 6px;
  color: #666f77;
  max-height: 3rem;
  font-size: 0.7rem;
  margin: 0.5rem;
  width: 150px;
}

#imageInputLabel:active,
#editMyDetailsButton:active,
#showMyBookingsButton:active,
#editMyProfileButton:active,
.formControlButtons:active,
#deleteProfileButton:active {
  background-image: none;
  background-color: #2d6c7a;
  color: #ffffff;
}

#showMyBookingsButton {
  margin: 0 auto;
}

#editMyProfileButton {
  margin-left: auto;
  height: 3rem;
  width: 7rem;
  background-color: #b2e89a;
}

#deleteProfileButton {
  background-color: #DC143C;
  color: #fff;
}

#imageInputLabel {
  margin: 0.5rem auto;
}



form input,
label {
  display: block;
}

form input,
.plainUserDetails input {
  margin-top: 0.1rem;
  width: 375px;
}

.profile-tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  margin: 0rem 2rem 2rem 0rem;
  padding: 3rem auto;
}

.profile-tabs li {
  padding-right: 4rem;
  font-weight: bold;
  background-color: #243B53;
}

.profile-tabs li:hover {
  background-color: #243B53;
}

.div-line {
  border-top: "2px solid #fff ";
}

.controlButtonsUserDetails {
  margin: 0rem 2rem 2rem 2rem;
  text-align: left;
}

label {
  text-align: left;
  font-size: 0.65rem;
  margin-top: 0.5rem;
  padding-left: 0.3rem;
}

.timeRangeInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 385px;
}

.timeRangeInputs input {
  width: 45%;
}

textarea {
  line-height: 2rem;
  width: 83%;
  border-style: solid;
  border-color: #b2e89a;
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
  color: #b2e89a;
  margin-top: 35 px;
}

#cancelChangesButton {
  color: red;
}

#myClassesSection {
  display: flex;
  flex-direction: column;
  background-color: #274F5A;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem 0;
  max-width: 60rem;
}

.tutorScheduleListElement {
  display: flex;
  flex-direction: row;
}

#myScheduleCmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #D3D3D3;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}