/*Green 300 #36B37E
Green 200 #B1EC98
dark blueBackGround Color:  #1d2025;
900 Blue Grey NavBar color: #102A43
Accent/borders Green colors: #36B37E

*/

.container {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-around;
}

.imageSection {
  display: flex;
  flex-direction: column;
}

.userDetailsSection {
  display: flex;
  flex-direction: column;
}

.userImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profilePicture {
  margin: 0 auto;
}

.userDetails {
  display: flex;
  padding: 10rem;
  flex-direction: column;
  align-items: flex-start;
}

.bookedSessions {
  flex: 3;
}

#imageInput {
  display: none;
  margin: 10px;
}

#imageInputLabel,
#editMyDetailsButton,
.formControlButtons {
  display: inline-block;
  margin: 0 auto;
  padding: 4px 32px;
  background-color: #ffffff;
  border: solid 1px #666f77;
  border-radius: 6px;
  color: #666f77;
  max-height: 3rem;
  font-size: 0.7rem;
  margin: 0.5rem;
}

#imageInputLabel:active,
#editMyDetailsButton:active,
.formControlButtons:active {
  background-image: none;
  background-color: #2d6c7a;
  color: #ffffff;
}

#profilePicture {
  width: 250px;
}

form input,
label {
  display: block;
}

form input {
  margin-top: 0.1rem;
}
