.reviewArea {
  display: flex;
  flex-direction: column;
}

#addReviewButton {
  margin-left: 0rem;
  height: 3rem;
  width: 7rem;
  background-color: #b2e89a;
}

#deleteReviewButton {
  margin-left: 0rem;
  height: 2rem;
  width: 7rem;
  background-color: #d03939;
}

.reviewList {
    display:flex;
    flex-direction: center;
}

.reviewList ul > * {
    text-align: left;
    list-style-type: none;
}
